services:
  gateway:
    build:
      context: ./gateway
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - pdf-service
      - image-service
      - redis
      - mysql

  pdf-service:
    build:
      context: ./pdf-service
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - redis
      - mysql

  pdf-worker:
    build:
      context: ./pdf-service
    command: celery -A app.celery_app.celery_app worker --loglevel=info
    restart: always
    env_file:
      - .env
    depends_on:
      - redis
      - mysql

  image-service:
    build:
      context: ./image-service
    ports:
      - "8002:8002"
    env_file:
      - .env
    depends_on:
      - redis
      - mysql

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: easyconvert
      MYSQL_ROOT_PASSWORD: 20020808
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  mysql_data:
